<div class="modal-header modal_header" backdrop>
  <button type="button" class="close" (click)="modalRef?.hide()">&times;</button>
  <h4 class="modal-title">{{formTitle}}</h4>
</div>
<div class="modal-body">
    <form  (ngSubmit)="processRequest()" [formGroup]="logsForm" novalidate>

      
      <div class="form-group row">
        <label class="col-sm-5 col-form-label">Date:</label>
        <div class="col-sm-6">
          <dp-date-picker [formControl]="logDateTime" [config]="logDateTimeConfig" mode="daytime" theme="dp-material"></dp-date-picker>
          <p class="text-danger" *ngIf="logDateTime.errors?.required  &&  logDateTime.touched">This field is required
          </p>
        </div>

      </div>

      <div class="form-group row">
        <label class="col-sm-5 col-form-label">Description of Activity:</label>
        <div class="col-sm-6">
          <textarea required class="form-control" type="text" name="descact" [formControl]="descAct"></textarea>
          <p class="text-danger" *ngIf="descAct.errors?.required  &&  descAct.touched">Description is required
          </p>
        </div>
      </div>
     

      <div class="form-group row">
        <label class="col-sm-5 col-form-label">Remarks:</label>
        <div class="col-sm-6">
          <textarea required class="form-control" type="text" name="remarks" [formControl]="remarks"></textarea>
          <p class="text-danger" *ngIf="remarks.errors?.required  &&  remarks.touched">Remarks is required
          </p>
        </div>
      </div>
      
      <!-- <p align="center" style="color: #ff0000;">{{formvalidation}}</p> -->
      <div class="form-group row" style="margin-bottom:0px;">
        <div class="text-center col-sm-12">
          <button type="submit" [disabled]="!logsForm.valid" class="btn btn-primary" id="adUser"
            style="margin-left:10px;padding: 6px 20px;">{{btnTitle}}</button>
        </div>
      </div>
    </form>

</div>

