<div class="main1_warper">
  <div class="container ">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-10 mx-auto mt-5" >

        <!-- change password ============================ -->
       <!-- <p style="color:red" *ngIf="cs.user_session['last_login']==null">The user is requested to update the password and security questions as a security measure, in case of logging into the IETM for the first time</p>-->

       <div class="card card-primary">

           <div class="card-header text-center">{{cs.page_header}}</div>

           <div class="card-body">
            <form (ngSubmit)="updatepwd(changePwdFormer)" #changePwdFormer="ngForm" novalidate>
              <div class="form-group row" >
                <label class="col-sm-5 forcontrol-label">Old Password :</label>
                <div class="col-sm-6 col-10">
                  <input [required]="cs.user_session.user_type !=0" class="form-control" type="{{showpassword1==0?'password':'text'}}" name="oldpassword" id="oldpassword" [(ngModel)]="resetpwds.oldpassword"
                    #oldpassword="ngModel">
                  <p class="text-danger" *ngIf="oldpassword.errors?.required  &&  changePwdFormer.submitted">Old Password is required</p>
                </div>
                <div class="col-sm-1 col-2">
                  <a *ngIf="showpassword1==0" class="show-password-icon" title="Show Password" (click)="showpassword1=1">
                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                  </a>
                  <a *ngIf="showpassword1==1" class="show-password-icon" title="Hide Password" (click)="showpassword1=0">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-5 forcontrol-label">New Password : </label>
                <div class="col-sm-6 col-10">
                  <input required class="form-control" type="{{showpassword2==0?'password':'text'}}" id="newpwd" name="newpwd" [(ngModel)]="resetpwds.newpwd"
                    #newpwd="ngModel">
                  <p class="text-danger" *ngIf="newpwd.errors?.required  &&  changePwdFormer.submitted">New Password is required</p>
                </div>
                <div class="col-sm-1 col-2">
                  <a *ngIf="showpassword2==0" class="show-password-icon" title="Show Password" (click)="showpassword2=1">
                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                  </a>
                  <a *ngIf="showpassword2==1" class="show-password-icon" title="Hide Password" (click)="showpassword2=0">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-5 forcontrol-label">Re-enter new password :</label>
                <div class="col-sm-6">
                  <input required class="form-control" type="password" id="retypepwd" name="retypepwd" [(ngModel)]="resetpwds.retypepwd" #retypepwd="ngModel">
                  <p class="text-danger" *ngIf="retypepwd.errors?.required  &&  changePwdFormer.submitted">Retype Password is required</p>
                </div>
              </div>
              <div class="form-group row" style="margin-bottom:0px;">
                <p align="center" style="color: #ff0000;">{{resetpwd_validation}}</p>
                <div class="col-sm-12 text-center">
                  <button [disabled]="!changePwdFormer.valid" class="btn btn-primary save-btn" id="Changepwd">SUBMIT</button>
                </div>
              </div>
            </form>
          </div>


        </div>


      </div>
    </div>
  </div>
  </div>

