@import "assets/sass/variables";
@import "assets/sass/layout/frame";
@import "assets/sass/layout/fonts";
@import "assets/sass/layout/headers";
@import "assets/sass/layout/footer";
@import "assets/sass/layout/tables";
@import "assets/sass/layout/cards";
@import "assets/sass/layout/buttons";
@import "assets/sass/layout/toc";
@import "assets/sass/layout/font-slider";
@import "assets/sass/layout/hotspotpopup";
@import "assets/sass/layout/sharebuble";
@import "assets/sass/pages/frameContent";
@import "assets/sass/pages/login";
@import "assets/sass/pages/changepwd";
@import "assets/sass/pages/dashboard";
@import "assets/sass/pages/modules";
@import "assets/sass/pages/annotations";
@import "assets/sass/pages/glossary";
@import "assets/sass/pages/inventory";
@import "assets/sass/layout/models";
// Theme Switcher =================================/////@at-root
.switcher-container {
    position: fixed;
    width: 300px;
    height: 230px;
    bottom: 74px;
    right: -300px;
    color: var(--light-bg-color);
    z-index: 9999;
    transition: 0.5s cubic-bezier(1, 1.48, 0.76, 0.95) right;
}

.switcher-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    left: -40px;
    top: -20px;
    color: var(--ietm-title-color);
    background: var(--top-stirp-bg);
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    border: 1px solid var(--secondary-color);
    perspective: 1000px;
    transition: 0.5s ease all;
    transform-origin: right;
    transition-delay: 0.5s;
    z-index: 1039;
    border-radius: 30px 30px 0px 30px;
    border: 1px solid #ddd;
    //text-shadow: 3px 1px 1px #000;
    i {
        line-height: 40px;
    }
}

.switcher-container .switcher-frame {
    position: absolute;
    width: calc(100% - 40px);
    top: 0;
    right: 0px;
    background: var(--top-stirp-bg);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: var(--ietm-title-color);
    padding: 20px 35px;
    border-radius: 0px 0 0 40px;
}

.appear-it {
    right: -40px;
}

.appear-back {
    right: -260px;
}

.flip-it {
    transform: rotateY(180deg);
    opacity: 0;
    left: 0;
}

.flip-back {
    transform: rotateY(0deg);
}

.theme-options {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    div {
        cursor: pointer;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        margin: 2px 10px;
        border: 1px solid #fff;
        display: inline-block;
        opacity: 0.5;
        &.active {
            opacity: 1;
        }
    }
}

#theme-semi-dark {
    background: #28293d;
}

#theme-dark {
    background: #000;
}

#theme-blue {
    background: blue;
}

#theme-green {
    background: green;
}

#theme-light {
    background: #f2f2f2;
}

#theme-dark-yellow {
    background: yellow;
}

#theme-navy {
    background: #000;
}

#theme-purple {
    background: #6d1b7b;
}


/* Scroll bar ===================== css */


/* width */

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Scroll bar ===================== css */